{% extends 'base.html' %}
{% load static %}
{% block title %}天天生鲜-ss首页{% endblock title %}
{% block topfiles %}
    <script type="text/javascript" src="{% static "/js/jquery-1.12.4.min.js" %}"></script>
    <script type="text/javascript" src="{% static "/js/jquery-ui.min.js" %}"></script>
    <script type="text/javascript" src="{% static "/js/slide.js" %}"></script>
{% endblock topfiles %}
</head>
<body>

{% block body %}
    <div class="center_con clearfix">
        <ul class="subnav fl">
            {% for type in tyeps %}
                <li><a href="#model0{{ forloop.counter }}" class="{{ type.logo }}">{{ type.name }}</a></li>
            {% endfor %}
        </ul>
        <div class="slide fl">
            <ul class="slide_pics">
                {% for banner in goods_banners %}
                    <li><img src={{ banner.image.url }} style="width:760px;height:270px;" alt="幻灯片"></li>
                {% endfor %}
            </ul>
            <div class="prev"></div>
            <div class="next"></div>
            <ul class="points"></ul>
        </div>
        <div class="adv fl">
            {% for banner in promotion_banners %}
                <a href={{ banner.url }}><img src={{ banner.image.url }}></a>
            {% endfor %}
        </div>
    </div>

    {% for type in types %}
        <div class="list_model">
            <div class="list_title clearfix">
                <h3 class="fl" id="model01">{{ type.name }}</h3>
                <div class="subtitle fl">
                    <span>|</span>
                    {% for title_banner in type.title.banners %}
                        <a href="#">{{ title_banner.sku.name }}</a>
                    {% endfor %}
                </div>
                <a href="#" class="goods_more fr" id="fruit_more">查看更多 ></a>
            </div>

            <div class="goods_con clearfix">
                <div class="goods_banner fl"><img src={% static "/images/banner01.jpg" %}></div>
                <ul class="goods_list fl">
                    <li>
                        <h4><a href="#">草莓</a></h4>
                        <a href="#"><img src={% static "/images/goods/goods003.jpg" %}></a>
                        <div class="prize">¥ 30.00</div>
                    </li>
                    <li>
                        <h4><a href="#">葡萄</a></h4>
                        <a href="#"><img src={% static "/images/goods/goods002.jpg" %}></a>
                        <div class="prize">¥ 5.50</div>
                    </li>
                    <li>
                        <h4><a href="#">柠檬</a></h4>
                        <a href="#"><img src={% static "/images/goods/goods001.jpg" %}></a>
                        <div class="prize">¥ 3.90</div>
                    </li>
                    <li>
                        <h4><a href="#">奇异果</a></h4>
                        <a href="#"><img src={% static "/images/goods/goods012.jpg" %}></a>
                        <div class="prize">¥ 25.80</div>
                    </li>
                </ul>
            </div>
        </div>
    {% endfor %}


{% endblock %}

{% block bottom %}
    <script type="text/javascript" src="js/slideshow.js"></script>
    <script type="text/javascript">
        BCSlideshow('focuspic');
        var oFruit = document.getElementById('fruit_more');
        var oShownum = document.getElementById('show_count');

        var hasorder = localStorage.getItem('order_finish');

        if (hasorder) {
            oShownum.innerHTML = '2';
        }

        oFruit.onclick = function () {
            window.location.href = 'list.html';
        }
    </script>
{% endblock %}
</body>
</html>